body{
    color: #3a3a3b;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
p.dilo {
    text-align: center;
    color: #db9457;
    font-weight: 500;
    font-size: .8em;
    letter-spacing: 2px;
    line-height: 1.75em;
    text-transform: uppercase;
    margin: 0;          /* note  */
    display: block;
    padding: 0;
}
.daba{
    text-align: center;
    font-size: 2.618em;
    margin: 1.4em 0 0.4em;
    line-height: 1.2em;
}
.baybal{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 2px;
    margin-top: 14px;
    background-color: #db9457;
    margin-bottom: 16px;        /* note  */
    float: none;
    display: block;
}
.thetralonnhat{
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
    padding: 0;     /* note  */
    text-align: center;
    display: block;
    border: 0;
    vertical-align: baseline;
 }
.theul3tra{
    margin: 0 -24px 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;     /* note */
    background-clip: padding-box;
    list-style-type: disc;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.theli3tra{
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    margin: 0;
    padding-right: 0; /* note */
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 24px solid #ffffff00;
    list-style-type: none;
    margin-bottom: 42px;
    float: none;
    width: auto;
    text-align: center;
    font: inherit;
    vertical-align: baseline;
}
.thelinkanh{
    margin: 0;

    transition: all .1s ease-in-out;    /* note */
    border-bottom: none !important;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    text-align: center;
}
.theanh{
    margin: 0 0 12px;

    text-decoration: none;         /* note */
    display: block;
    position: relative;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    list-style: none;
}
.theimg3anh{
    vertical-align: top;
    margin: 0;

    height: auto;      /* note */
    width: auto;
    max-width: 100%;
    border: none;
    position: relative;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}
.theten{
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    color: #101020;
    line-height: 1.5em;
    border: 0;      /* note */
    font-size: 1em;
    padding: 0;
    display: block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    list-style: none;
}
.divtien{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin: 0 auto 12px;
    font-size: .9em;
    display: block;       /*note*/
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    list-style: none;
}
.spantien{

    margin: 0;
    padding: 0;     /*note*/
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    text-align: center;

}
.thetien{
    margin: 0;

    padding: 0;     /* note */
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    text-align: center;
}
.thedivselect{


}
.theaselect {


}